<%- include('../user/partials/head.ejs') %>

<div class="text-center px-5 mx-5">
  <img
    src="https://i0.wp.com/www.melbournecurrencyexchange.com/wp-content/uploads/order-confirmed.png?resize=500%2C500&ssl=1"
    alt="gif"
    style="width: 41rem"
  />
  <a href="/" class="btn btn-lg btn-success w-50">Ok</a>
</div>

<%- include('../user/partials/end.ejs') %>
